<script async src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap">
</script>

<div class="row">
    <div class="col-12 mt-3">
        <div class="col-12 bg-content p-3">
            <div id="map"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    let map;

    async function initMap() {
        const { Map } = await google.maps.importLibrary("maps");

        map = new Map(document.getElementById("map"), {
            center: { lat: -34.397, lng: 150.644 },
            zoom: 8,
        });
    }

    initMap();
</script>