<div class="row mt-2">

    <div class="col-md-4">
    
        <div class="card card-pantau bg-brown">
            <div class="card-body border-radius-18 p-0">
                <img src="img/prabowo.png" class="img-fluid img-capres">
                <h4 class="p-2 text-white mb-0">Pemilih: 1.000.000</h4>
            </div>
        </div>
    
    </div>
    
    <div class="col-md-4">
        
        <div class="card card-pantau bg-brown">
            <div class="card-body border-radius-18 p-0">
                <img src="img/anies.png" class="img-fluid img-capres">
                <h4 class="p-2 text-white mb-0">Pemilih: 1.000.000</h4>
            </div>
        </div>
    
    </div>
    
    <div class="col-md-4">
        
        <div class="card card-pantau bg-brown">
            <div class="card-body border-radius-18 p-0">
                <img src="img/ganjar.png" class="img-fluid img-capres">
                <h4 class="p-2 text-white mb-0">Pemilih: 1.000.000</h4>
            </div>
        </div>
    
    </div>

</div>