<div class="row">
    <div class="col-12 mt-3 mb-3">
        <button type="button" class="btn btn-brown btn-timeline btn-actived">USERS</button>
        <button type="button" class="btn btn-brown btn-timeline">INTERCOM</button>
        <button type="button" class="btn btn-brown btn-timeline">LIVESTREAM</button>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="col-12 bg-content p-3">
            
            <div class="card border-radius-18 mb-2">
                <div class="card-body">
                    <div class="row">
                        <div class="col-1">
                            <img src="img/user-online.png" class="img-user float-start">
                            <img src="img/logo-1.png" class="img-logo-satuan float-end mt-2">
                        </div>
                        <div class="col-11">
                            <div class="float-start">
                                <h5 class="mb-0">B. Ramadhan</h5>
                                <p class="mb-0 content-timeline">Sedang bertugas di Jakarta</p>
                            </div>
                            <div class="float-end">
                                <label class="badge bg-success me-3">Online</label>
                                <button type="button" class="btn btn-brown btn-lg">PUSH TO TALK</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card border-radius-18 mb-2">
                <div class="card-body">
                    <div class="row">
                        <div class="col-1">
                            <img src="img/user-offline.png" class="img-user float-start">
                            <img src="img/logo-1.png" class="img-logo-satuan float-end mt-2">
                        </div>
                        <div class="col-11">
                            <div class="float-start">
                                <h5 class="mb-0">L. Akbar</h5>
                                <p class="mb-0 content-timeline">Sedang bertugas di Jakarta</p>
                            </div>
                            <div class="float-end">
                                <label class="badge bg-secondary me-3">Last seen 09:54</label>
                                <button type="button" class="btn btn-brown btn-lg">PUSH TO TALK</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>