<div class="row">
    <div class="col-12 mt-3 mb-3">
        <button type="button" class="btn btn-brown btn-timeline btn-actived">IDEOLOGY</button>
        <button type="button" class="btn btn-brown btn-timeline">POLITICS</button>
        <button type="button" class="btn btn-brown btn-timeline">ECONOMICS</button>
        <button type="button" class="btn btn-brown btn-timeline">SOCIALS</button>
        <button type="button" class="btn btn-brown btn-timeline">HANKAM</button>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <div class="col-12 bg-content p-3">
            
            <div class="card border-radius-18 mb-2">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-10">
                            <h5 class="title-timeline">Jokowi dan Purnawirawan Bahas Ideologi Negara</h5>
                            <div class="row">
                                <div class="col-6">
                                    <p class="clock">L. Putra</p>
                                </div>
                                <div class="col-6 text-end">
                                    <p class="date">14/08/23 | 08:58</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 ">
                            <img src="img/logo-1.png" class="img-logo-satuan img-fluid mt-3">
                        </div>
                    </div>
                </div>
            </div>

            <div class="card border-radius-18 mb-2">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-10">
                            <h5 class="title-timeline">Pegawai BPIP Didorong Mampu Menjawab Persoalan Bangsa</h5>
                            <div class="row">
                                <div class="col-6">
                                    <p class="clock">L. Putra</p>
                                </div>
                                <div class="col-6 text-end">
                                    <p class="date">14/08/23 | 08:58</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 ">
                            <img src="img/logo-1.png" class="img-logo-satuan img-fluid mt-3">
                        </div>
                    </div>
                </div>
            </div>

        </div>                        
    </div>

    <div class="col-8">
        <div class="col-12 bg-content p-3">
            
            <div class="card border-radius-18 mb-2">
                <div class="card-body">
                    <div class="row">
                        <h1>Jokowi dan Purnawirawan Bahas Ideologi Negara</h1>
                        <content class="mt-3">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla ante ut enim ultricies, non sagittis elit sodales. Sed eget commodo erat, nec fermentum metus. Sed lectus dolor, pharetra non urna vel, molestie dignissim arcu. Donec ultricies orci vitae tellus blandit malesuada. Suspendisse porta ex rhoncus mollis aliquam. Mauris ac viverra elit. Mauris pulvinar ipsum et scelerisque imperdiet. Vestibulum eget est nec justo vestibulum volutpat. Etiam est erat, pellentesque at ultrices in, tempor nec diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Maecenas placerat nec sapien egestas tincidunt. Nullam condimentum odio eget eros sagittis, convallis viverra elit auctor. Ut scelerisque varius consequat. Nunc scelerisque diam ut aliquam consectetur. Sed bibendum rutrum purus.</p>
                            <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam dictum elit nec dui auctor, at pulvinar odio eleifend. Quisque sed commodo lacus, ut efficitur ex. In hac habitasse platea dictumst. Curabitur vitae ante vitae nunc efficitur euismod aliquam vel lorem. Sed dignissim vitae dui ut ullamcorper. Nullam quis lectus non mi rutrum blandit. Curabitur congue dapibus tellus at porttitor. Fusce a volutpat nulla.</p>
                            <p>Cras erat ipsum, efficitur quis risus at, tempus aliquam diam. Sed elementum imperdiet risus, eget blandit nisi accumsan nec. Morbi finibus felis id urna tristique convallis. Nam cursus orci sed purus luctus, ac hendrerit lectus finibus. Cras facilisis tellus ipsum, et vehicula neque aliquet nec. Fusce ultricies eu lacus a volutpat. Donec risus massa, hendrerit vitae felis sit amet, rhoncus venenatis mauris. Nulla facilisi. In malesuada ultricies volutpat. Etiam suscipit faucibus consequat. Suspendisse quis magna mi. Quisque blandit feugiat ligula, id dapibus urna congue aliquam. Nulla congue augue et auctor dapibus.</p>
                        </content>
                    </div>
                </div>
            </div>

            <div class="card border-radius-18 mb-2">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <span>Status</span>
                        </div>
                        <div class="col-6 text-end">
                            <span class="text-danger">immediately</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>                        
    </div>
</div>