<div class="row">
    <div class="col-12 mt-3 mb-3">
        <button type="button" class="btn btn-brown btn-timeline">POST</button>
        <button type="button" class="btn btn-brown btn-timeline">SENT</button>
        <button type="button" class="btn btn-brown btn-timeline">LIST</button>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="col-12 bg-content p-3">
            
            <div class="card border-radius-18 mb-2">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-1 text-center">
                            <span class="d-block clock">11:45</span>
                            <span class="d-block date">14/08/23</span>
                        </div>
                        <div class="col-md-10">
                            <h3 class="title-timeline">Lorem Ipsum</h3>
                            <p class="content-timeline">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus aliquet metus in mi ultricies dictum. In dictum laoreet erat, vel egestas tortor iaculis non.</p>
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-brown"><i class="bi bi-camera-fill"></i></button>
                            <button type="button" class="btn btn-brown"><i class="bi bi-chat-left-text"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card border-radius-18 mb-2">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-1 text-center">
                            <span class="d-block clock">11:45</span>
                            <span class="d-block date">14/08/23</span>
                        </div>
                        <div class="col-md-10">
                            <h3 class="title-timeline">Lorem Ipsum</h3>
                            <p class="content-timeline">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus aliquet metus in mi ultricies dictum. In dictum laoreet erat, vel egestas tortor iaculis non.</p>
                        </div>
                        
                        <div class="col-md-1">
                            <button type="button" class="btn btn-brown"><i class="bi bi-camera-fill"></i></button>
                            <button type="button" class="btn btn-brown"><i class="bi bi-chat-left-text"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card border-radius-18 mb-2">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-1 text-center">
                            <span class="d-block clock">11:45</span>
                            <span class="d-block date">14/08/23</span>
                        </div>
                        <div class="col-md-10">
                            <h3 class="title-timeline">Lorem Ipsum</h3>
                            <p class="content-timeline">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus aliquet metus in mi ultricies dictum. In dictum laoreet erat, vel egestas tortor iaculis non.</p>
                        </div>
                        
                        <div class="col-md-1">
                            <button type="button" class="btn btn-brown"><i class="bi bi-camera-fill"></i></button>
                            <button type="button" class="btn btn-brown"><i class="bi bi-chat-left-text"></i></button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>